{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "endOfLine": "auto",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^pages/(.*)$",
        "^components/(.*)$",
        "^layot/(.*)$",
        "types",
        "^constants/(.*)$",
        "^hooks/(.*)$",
        "^services/(.*)$",
        "^store/(.*)$",
        "store",
        "^utils/(.*)$",
        "^(?!\\.\\/styles)[./]",
        "^\\.\\.?\\/styles",
        "^[./]"
    ]
}